<div class='todos'>
    <form (submit)='addTodoHandler()'>
        <input type="text" name='inputTodo' placeholder="Enter Todos" class="todo-input" [(ngModel)]="inputTodo" />
        <input type="submit" value="Add Todo" class="todo-submit" />
    </form>
    <div class='todo {{todo.completed ? "done" : ""}}' *ngFor="let todo of todos; let index= index">

        <div class="id">{{index}}</div>
        <div class="content" (click)=" todoToogleHandler(index)">{{todo.content}}</div>
        <button class="delete" (click)="deleteTodoHandler(index)">Remove</button>
    </div>
</div>